:root {
  --primary-red: #541A2E;
  --secondary-red: #B51A2B;
  --primary-red-alpha: #541a2eaa;
  --secondary-red-alpha: #b51a2c9e;
  --peach: #FFA586;
  --primary-blue: #384358;
  --secondary-blue: #242F49;
  --tertiary-blue: #1B1E2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.stop-transition * {
  transition: none !important;
}

body.scroll-stop {
  overflow-y: hidden;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* background-color: var(--peach); */
  background: var(--tertiary-blue);
  color: white;
}

nav {
  background: var(--primary-red);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

/* This sets the navbar to be hidden initially and styles it in a flex column covering the entire page */
nav ul.navbar {
  background: var(--primary-red-alpha);
  backdrop-filter: blur(10px);
  list-style: none;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100dvh;
  right: -100%;
  top: 50px;
  z-index: 998;
  transition: all 1000ms ease-in-out;
}

nav li.nav-item {
  position: relative;
}

/* This centers all navigation links and gives some space between them */
nav .nav-link {
  display: block;
  padding: 16px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  transition: all 300ms ease-in-out;
}

nav ul#nav-dropdown li.nav-item {
  display: block;
}

/* This centers the button link so that it is inline with the rest of the navigation links */
nav #nav-dropitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* This allows for the button dropdown link to look like the rest of the navigation links */
#nav-droplink {
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  width: 100%;
}

nav ul#nav-dropdown {
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  
  width: 100%;
  background: var(--primary-red-alpha);
  backdrop-filter: blur(10px);

  position: relative;
  z-index: 999;
  transition: all 300ms ease-in-out;
}

nav li.nav-item a.nav-link:hover, #nav-droplink:hover {
  background: var(--secondary-red-alpha);
}

/*Menu icon container*/
.hamburger{ 
  display: block;
  background: none;
  border: none;
  margin: 0 20px;
  cursor: pointer;
  z-index: 999;
  transition: all 0.75s ease-in-out;
  top: 0;
}

.bar{ /*Menu icon bars*/
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all .75s ease-in-out;
  background-color: white
}

/*This all allows for the menu icon to show and transition into an X icon*/

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Content Styles */
h1 {
  text-align: center;
  padding: 7px;
}

h2 {
  padding: 3px;
  margin-bottom: 7px;
  font-weight: 100;
}

h3 {
  padding: 3px;
  margin-bottom: 5px;
}

section {
  padding: max(10px, 2%);

  ul {
    list-style: initial;
    margin: 5px 20px;
  }
}

section a {
  display: inline-block;
  margin-top: 10px;
  color: var(--peach);
  transition: all 300ms ease-in-out;
}

section a:hover {
  color: lightblue;
}

.button {
  background: var(--peach);
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 110px;
  color: black;
  transition: all 300ms ease-in-out;
  font-weight: 600;
}

.button:hover {
  background: var(--secondary-red);
  color: white;
}

.service-list {
  background-color: var(--primary-blue);
  color: white;
  margin-top: 9px;
  padding: 7px;
}

.recycle {
  height: 250px;
  background-image: url(../media/recycle.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    background: var(--primary-blue);
    padding: 10px;
    border-radius: 100px;
  }
}

.mission {
  background: var(--primary-blue);
}

table {
  border: 2px solid white;
  border-collapse: collapse;

  caption {
    padding: 10px;
    font-size: 24px;
    font-weight: 800;
  }
  
  thead {
    background: var(--primary-red);
  }
  
  td, th {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
  }

  td ul {
    list-style: none;
  }
  
  td ul li {
    margin-top: 7px;
  }

  tr:nth-child(even) {
    background: var(--primary-blue);
  }
}

form#contact {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input, textarea {
    background: var(--primary-blue);
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    transition: all 300ms ease-in-out;
  }

  input[type=submit]:hover {
    background: var(--peach);
    color: black;
    font-weight: 800;
  }
  input[type=submit] {
    font-weight: 800;
    cursor: pointer;
  }
}


/* Footer Styles */
footer {
  background: var(--primary-red);
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: min(3em, 5%);

  color: white;

  ul {
    list-style: none;
  }

  li {
    margin-top: 15px;
  }

  li:first-child {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

footer .column {
  text-align: center;
}

.footer-nav .nav-link {
  color: white;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.footer-nav li.nav-item a.nav-link:hover, #nav-droplink:hover {
  color: var(--peach);
}

footer div {
  padding: 1.5em;
}

nav li#nav-dropitem ul.visible {
  visibility: visible;
  opacity: 1;
}

nav li#nav-dropitem ul.height {
  height: 150px;
}

@media screen and (width >= 420px) { 
  /* This puts the navbar at the top of the page in desktop and tablet views */
  nav ul.navbar {
    background: var(--primary-red);
    backdrop-filter: blur(10px);
    flex-direction: row;
    position: sticky;
    visibility: visible;
    width: 100%;
    height: inherit;
    z-index: 998;
    transition: all 1000ms ease-in-out;
  }

  /* This hides the hamburger menu in tablet and desktop views */
  .hamburger {
    display: none;
  }

  /* This allows for the button dropdown link to look like the rest of the navigation links */
nav li#nav-dropitem {
  display: block;
}

nav button#nav-droplink {
  position: relative;
  width: 100%;
}


nav ul#nav-dropdown {
  visibility: hidden;

  position: absolute;
  left: 0;
  top: 50px;

  height: auto;
  width: 150%;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

nav #nav-droplink:hover + ul#nav-dropdown, ul#nav-dropdown:hover {
  opacity: 1;
  visibility: visible;
  
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 550px;
  margin: 10px auto;
  width: 50%;

}

p {
  max-width: 80ch;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.service-list {
  margin-right: 5px;
  margin-left: 5px;
  padding: 15px;
}

form#contact {
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 70%;
  gap: 30px;

  input {
    width: 75%;
  }

  input[type=submit] {
    width: 30%;
  }
}

footer {
  flex-direction: row;
  flex-wrap: wrap;
}

footer .column {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 33%; */
}

footer .column:first-child {
  flex-shrink: 2;
}

footer img {
  margin: 0;
  width: 90%;
  max-width: 250px;
  min-width: 100px;
}

}